<h1>spots#new</h1>

<%= form_with(model: [@trip, @spot], local: true, method: :post, url: trip_spots_path ) do |f| %>

  <div class="field form-group">
    <h4>スポット名</h4>
    <%= f.text_field :spot_name %>
  </div>

  <div class="field form-group">
  <h4>住所</h4>
  <%= f.text_field :address %>
  </div>

  <div class="field form-group">
    <h4>comment</h4>
    <%= f.text_area :comment %>
  </div>

  <div class="field form-group">
    <h4>画像</h4></br>

    <h7>
      shift + クリック　または　ctrl + クリックで画像を選択し、</br>
      アップロードしてください。
    </h7><br>
    <%= f.attachment_field :post_images_images, multiple: true, class: "form-control-file",onchange: "previewFiles()", id: "spot_post_images_images" %>
    <img src="" height="200" alt="preview..." name="preview0">
    <img src="" height="200" name="preview1">
    <img src="" height="200" name="preview2">
    
    </br>
  </div>

  <div class="field form-group">
    <%= f.label :tag_name, 'タグ付け' %></br>
    <%= f.text_field :tag_name, placeholder: "例：カフェ コロナ対策", class: "form-control" %>
    <p>
      スペースを入力することで</br>
      複数のタグを付けることができます。
    </p>
  </div>

  <%= f.submit '投稿' %>

<% end %>



