<h1>spots#edit</h1>

<%= form_with(model:[@trip, @spot], local:true, url: "/trips/#{@trip.id}/spots/#{@spot.id}") do |f| %>

  <h4>スポット名</h4>
  <%= f.text_field :spot_name %>

  <h4>住所</h4>
  <%= f.text_field :address %>

  <h4>comment</h4>
  <%= f.text_area :comment %>

  <h4>画像</h4>
  <h7>
    shift + クリック　または　ctrl + クリックで画像を選択し、
    アップロードしてください。
  </h7><br>
  <!--プレビューの追加予定-->
  <%= f.attachment_field :post_images_images, multiple: true %>

  <%= f.submit '保存' %>

<% end %>