<div class="container text-center mt-2">
  <div class='page_title'>Spots検索</div>
  
  <% if @spots.length == 0 %>
    該当がありません
  <% else %>
    検索結果：<%= @spots.length %>件
  
    <% @spots.each do |spot| %>
      <div class='border rounded p-3 col-md-8 col-12 mx-auto m-2'>
        <div class="content_font">
          <%= link_to spot.spot_name, trip_spot_path(spot.trip.id, spot.id) %>
        </div>
        <div>
        <%= spot.address %>
        </div>
    
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <% spot.post_images.drop(1).count.times do |index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="#{index}"></li>
          <% end %>
        </ol>
    
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% spot.post_images.first(1).each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 500, 200, class: "carousel_image"  %>
              <% end %>
            </div>
            <% spot.post_images.drop(1).each do |image| %>
              <div class="carousel-item">
                <%= attachment_image_tag image, :image ,:fill, 500, 200, class: "carousel_image" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>