<h4>[<%= "#{@tag.tag_name}" %>]の投稿一覧</h4>

<% @spots.each do |spot| %>

  <table>
    <tbody>
      <td style="width: 10%">
        <%= spot.spot_name %>
      </td>
      <td style="width: 10%"><%= spot.address %></td>
      <td style="width: 20%"><%= spot.comment %></td>
      <td style="width: 60%">
        <% spot.post_images.each do |image| %>
          <%= attachment_image_tag image, :image ,:fill, 200, 200 %>
        <% end %>
      </td>
    </tbody>
  </table>

<% end %>