<%= form_with model:trip, local:true do |f| %>

  <div class="field form-group">
    <h4>旅行先</h4>
    <%= f.text_field :location, class: "form-control col-md-6 col-12 mx-auto" %>
  </div>

  <div class="field form-group">
    <h4>期間</h4>
    <span><%= f.datetime_field :starts_at, placeholder: "XXXX-XX-XX"%> ~ </span>
    <span><%= f.datetime_field :ends_at, placeholder: "XXXX-XX-XX"%></span><br>
  </div>

  <div class="field form-group">
    <h4>Comment</h4>
    <%= f.text_area :comment, class: "form-control col-md-6 col-12 mx-auto" %>
  </div>

  <%= f.submit '投稿', class: "btn btn-outline-dark pl-5 pr-5 mb-5" %>

<% end %>